html,
body { 
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 70% auto;
    grid-template-areas:
         "h  h h"
         "sb m m"
         "f  f f";
    height: 100%;
}


.header {
    background: lightcoral;
    grid-column: 1 /span 3;
    grid-area: h;
}

.sidebar{
    background: lightgrey;
    /* flex-basis: 0; */
}

.main{
    background: lightcyan;
    /* grid-column: 2 / 4; */
    grid-area: m;

}

.footer{
    background: lightseagreen;
    /* grid-column: 1 /span 3; */
    grid-area: f;
}

.wrapper {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(7,3em);
}

.wrapper > span:nth-child(-n + 7) {
    font-size: 1.2rem;
    font-weight: bold;
}



.wrapper > span:nth-child(7n + 8),
.wrapper > span:nth-child(7n + 14){

    color: red;


}